[submodule "project/lib/metal-cpp"]
	path = project/lib/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
[submodule "project/lib/sdl"]
	path = project/lib/sdl
	url = https://github.com/openfl/libsdl
