[submodule "lime-project"]
	path = lime-project
	url = https://github.com/Project-Ever-Changing/lib-lime-project
[submodule "platforms"]
	path = platforms
	url = https://github.com/Project-Ever-Changing/lime-platforms
[submodule "project/lib/volk"]
	path = project/lib/volk
	url = https://github.com/zeux/volk
[submodule "project/lib/spirv-cross"]
	path = project/lib/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "project/lib/bx"]
	path = project/lib/bx
	url = https://github.com/Just-Feeshy/bx
